name: Test Docker Build

on:
  pull_request:
    branches:
      - main

env:
  DOCKER_BUILDKIT: 1
  DOCKER_BUILDKIT_INLINE_CACHE: 1
  DOCKER_IMAGE_NAME: finalgene/lessc

jobs:
  docker:
    name: Test Docker Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Test build
        id: build
        uses: docker/build-push-action@v4
        with:
          cache-from: type=registry,ref=${{ env.DOCKER_IMAGE_NAME }}:latest
